*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /*Removing the default padding and margin.*/

/* Creates Variables*/
:root{
 --index: calc(1vw + 1vh);
 --gap: calc(var(--index) * 7);
 --colour-header: #f4efec;
 --colour-text: #cdc6c3;
}
/* Connecting two types of fonts*/
@font-face {
    font-family: raleway-c;
    src: url(../fonts/raleway-regular.woff2); /* Connecting Font from File "fonts"*/
}
@font-face {
    font-family: outfit-c;
    src: url(../fonts/outfit-regular.woff2);
}
/* Setting Font Family for headers */
h1, h2, h3, h4, h5, h6 {
    font-family: outfit-c;
}

/*Will Change to avoid the lag*/
.content,  .Hero_Section, .main-header, .Art > * {
    will-change: transform;
} 

/*Styles the body*/
body{
    background-image: url(../Images/bg.jpg); /* Adding background image instead of making background solid*/
    background-size: 50px; /* Makes Background image size smaller*/
    color: #fafafa; /* Setting Colour of the text*/
    font-family: raleway-c; /*connects font*/
    overflow-x: hidden; /*hides horizontal overflow*/
}

/*Setting parameters for the Hero Image*/
.Hero {
    width: calc( var(--index) * 100); /*Calculates width using variable in order to keep aspect ratio*/
    position:absolute;
    left: -5vw;
    top: -20vh;
    z-index: -1;
}
/*Styles Main header*/
.main-header {
    height: 100vh;
}
/* Setsthe padding inside the containter*/
.container {
    padding: 0 7vw;
}
/*Styles the title of the page*/
.Hero_Title {
    font-size: calc(var(--index) * 7); /*Calculates font size using variable in order to keep aspect ratio*/
    position: absolute;
    width: min-content; /* Helps to automatically put words on the next Pragraph*/
    bottom: 12vh;
    line-height: .9;
}

/*Styles Art which contains two other classes such as Art__Left and Art__Right*/
.Art {
    display: flex;
    padding: calc(var(--index) * 8) 0; /*Calculates padding using variable in order to keep aspect ratio*/
}

/*Gives common design to the other classes inside class "Art"*/
.Art > * {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Styles the items inside the Art*/
.Art__item {
    max-width: calc(var(--index) * 23); /*Calculates max width of the image using variable in order to keep aspect ratio*/
    margin-bottom: var(--gap); /* uses a variable in order to keep aspect ratio and add a number*/
    max-height: 180vh;
    border-radius: 12px;
}

/*Styles Art__Left*/
.Art__Left {
    margin-top: calc(var(--gap) * 1.75); /*Calculates margin-top using variable in order to keep aspect ratio*/
}

/*Styles Art_Right*/
.Art_Right .Art__item {
    margin: 0;
    margin-top: var(--gap);
}
/*adds style to the elements inside the text block*/
.text-block {
    color: var(--colour-text);
    position: relative;
}

/*adds style specifically to the header inside the text block*/
.text-block__header {
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--colour-header); /*uses variables to identify the colour for the header*/
    margin-bottom: 1.5rem;
}
 /*Adds the line height*/
.text-block__paragraph {
    line-height: 1.75rem;
}
 /*sets position for the images*/
.hover-item {
    position: relative;
    overflow: hidden;
  }
  
  /*styles the image*/
  .hover-item img {
    display: block;
    width: 100%;
    border-radius: 12px;
  }
  
  /*adds different style when hovered over*/
  .hover-text-block {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    color: var(--colour-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    padding: 1rem;
    border-radius: 12px;
  }
  /*Allows Text to appear*/
  .hover-item:hover .hover-text-block {
    opacity: 1;
  }
  